{% load static %}
<!DOCTYPE html>
<!--
COPYRIGHT by HighHay/Mivfx
Before using this theme, you should accept themeforest licenses terms.
http://themeforest.net/licenses
-->
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths fp-enabled" style="overflow: hidden; height: 100%;" lang="ru"><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache">
        <meta charset="utf-8">
		<meta name="yandex-verification" content="afe2cf0112aba2ab">
        <!-- Page Title Here -->
        <title>Боксерские залы в Алматы SK Boxing - тренировки по боксу</title>
		
        <!-- Page Description Here -->
		<meta name="description" content="SK Boxing – самое подходящее место в Алматы для занятий боксом. Уникальный спортивный клуб класса премиум.">

        <!-- Disable screen scaling-->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        
        <!-- Initializer -->
        <link rel="stylesheet" href="{% static 'index_files/normalize.css' %}">
        <link href="http://skboxing.kz/img/favicon.png" rel="shortcut icon" type="image/png">
        <!-- Web fonts and Web Icons -->
        <link rel="stylesheet" href="{% static 'index_files/pageloader.css' %}">
        <link rel="stylesheet" href="{% static 'index_files/stylesheet.css' %}">
        <link rel="stylesheet" href="{% static 'index_files/stylesheet_002.css' %}">
        <link rel="stylesheet" href="{% static 'index_files/ionicons.css' %}">
        
        <!-- Vendor CSS style -->
        <link rel="stylesheet" href="{% static 'index_files/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'index_files/jquery.css' %}">
        <link rel="stylesheet" href="{% static 'index_files/vegas.css' %}">
        
		<!-- Main CSS files -->
        <link rel="stylesheet" href="{% static 'index_files/main.css' %}">
        <link rel="stylesheet" href="{% static 'index_files/main_responsive.css' %}">
        <link rel="stylesheet" href="{% static 'index_files/style-color1.css' %}">
        
        
		<style>
			a {color:#000;}
			</style>
    </head>
    <body id="menu" class="alt-bg fp-viewing-home" style="overflow: hidden; height: 100%;">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- Page Loader -->
        <div class="page-loader hidden" id="page-loader">
            <div><i class="ion ion-loading-d"></i><p>загрузка</p></div>
        </div>
        
        <!-- BEGIN OF site header Menu -->
		<!-- Add "material" class for a material design style -->
		<header class="header-top">
			
            <div class="menu clearfix">
                <a href="http://skboxing.kz/price.html">Прайс</a>
				<a href="http://skboxing.kz/timetable.html">Расписание</a>
				<a href="http://skboxing.kz/team/index.html">Тренера</a>
                <!--<div class="menu-cont">
					<p class="text">Menu cont</p>
					<ul class="sub-menu">
						<li><a href="htp://page">My Page</a></li>
					</ul>
				</div>-->
				<!-- Add other menu similar to "about" here -->
               
				
				<a target="blank" href="http://fr.skboxing.kz/">Франшиза</a>
            </div>
		</header>
        <!-- END OF site header Menu-->
        
        <!-- BEGIN OF Quick nav icons at left -->
		<nav class="quick-link count-4 nav-left">
			<div class="logo">
				<a href="#home">
					<img src="{% static 'index_files/logo2.png' %}" alt="Logo Brand">
				</a>
			</div>
			<ul id="qmenu" class="qmenu">
				<li data-menuanchor="home" class="active">
					<a href="#home" class=""><i class="icon ion ion-home"></i>
					</a>
					<span class="title">Главная</span>
				</li>
				<li data-menuanchor="register">
					<a href="#register"><i class="icon ion ion-compose"></i>
					</a>
					<span class="title">Прайс</span>
				</li>
				<li data-menuanchor="about-us">
					<a href="#about-us"><i class="icon ion ion-android-information"></i>
					</a>
					<span class="title">О школе</span>
				</li>
				<li data-menuanchor="contact">
					<a href="#contact"><i class="icon ion ion-android-call"></i>
					</a>
					<span class="title">Контакты</span>
				</li>
				
			</ul>
		</nav>
        <!-- END OF Quick nav icons at left -->
        


        <!-- BEGIN OF site cover -->
        <div class="page-cover" id="s-cover">
            <!-- Cover Background -->
            <div class="cover-bg pos-abs full-size bg-img" data-image-src="{% static 'index_files/1.jpg' %}" style="background-image: url(&quot;{% static 'index_files/1.jpg' %}&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;"></div>
			
            <!-- BEGIN OF Slideshow Background -->
            <!--<div class="cover-bg pos-abs full-size slide-show">
				<i class='img' data-src='./img/bg-slide1.jpg'></i>
				<i class='img' data-src='./img/bg-slide2.jpg'></i>
				<i class='img' data-src='./img/bg-slide3.jpg'></i>
				<i class='img' data-src='./img/bg-slide4.jpg'></i>
			</div>-->
            <!-- END OF Slideshow Background -->
            
            <!--BEGIN OF Static video bg  - uncomment below to use Video as Background-->
            <!--<div id="container" class="video-container show-for-medium-up">
                <video autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted"
                       width="640" height="360">
                    <source src="vid/flower_loop.mp4" type="video/mp4">
                </video>
            </div>-->
            <!--END OF Static video bg-->
			
			<!-- Solid color as background -->
<!--            <div class="cover-bg pos-abs full-size bg-color" data-bgcolor="rgb(59, 59, 59)"></div>-->
			
			<!-- Solid color as filter -->
            <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(0, 0, 0, 0.41)" style="background-color: rgba(0, 0, 0, 0.41);"></div>
            
        </div>
        <!--END OF site Cover -->
		
		<!-- Begin of timer pane -->
		<div class="pane-when " id="s-when">
			<div class="content">
				<!-- Clock -->
				<div class="clock clock-countdown">
					<div class="site-config" data-date="01/01/2021 00:00:00" data-date-timezone="+6"></div>					
					<div class="elem-center">
						<div class="digit">
							<span class="days">71</span>
							<span class="txt">дней</span>
						</div>
					</div>
					<!-- Logo instead -->
<!--
					<div class="logo">
						<a href="#">
							<img src="img/logo_only.png">
						</a>
					</div>
-->
					
					<div class="elem-bottom">
						<div class="deco"></div>
						
<!--						<span class="days">12</span><span class="thin">D</span>-->
						<span class="hours">02</span><span class="thin"> ч</span>
						<span class="minutes">08</span><span class="thin"> мин</span>
						<span class="seconds">30</span><span class="thin"> с</span>
					</div>
				</div> 
				
				
				<footer>
					<p>осталось до <strong>нового года</strong></p>
				</footer>                
			</div> 
		</div>
		<!-- End of timer pane -->
        
        <!-- BEGIN OF site main content content here -->
        <main class="page-main fullpage-wrapper" id="mainpage" style="height: 100%; position: relative; touch-action: none; top: 0px;">             
            
			<!-- Begin of home page -->
			
			<!-- End of home page -->
            
           
            
            <!-- Begin of register page -->
            <div class="section page-register page page-cent fp-section active fp-table fp-completely" id="s-register" style="height: 664px;" data-anchor="home"><div class="fp-tableCell" style="height:664px;">
				<section class="content">
                    <header class="p-title">
                        <h3>SK Boxing<i class="ion ion-android-information">
                            </i>
                        </h3>
						<h4 class="subhead">Залы премиум-класса в Алматы</h4>
                    </header>
                    <article class="text"><br>
                        <p>• 4 зала по городу Алматы<br>
						   • 1500 довольных клиентов<br>
						   • 60 профессиональных тренеров в команде<br></p>
                        
						
						<br>
						<p><b>Наша миссия – сделать бокс доступным для каждого. </b></p>
					</article>
                </section>
				
               
                <footer class="p-footer p-scrolldown">
                    <a href="#about-us">
                        <div class="arrow-d">
							<div class="before">Запись</div>
							<div class="after">Пробная</div>
							<div class="circle"><i class="ion ion-mouse"></i></div>
						</div>
                    </a>                        
                </footer>
            </div></div>
            <!-- End of register page -->
            
            <!-- Begin of about us page -->
            <div class="section page-about page page-cent fp-section fp-table" id="s-about-us" style="height: 664px;" data-anchor="register"><div class="fp-tableCell" style="height:664px;">
				 <section class="content">
                    <header class="p-title">
                        <h3>Запишись <i class="ion ion-compose"></i></h3> 
						<h4 class="subhead">на первую тренировку!</h4>
                    </header>
                    <div>
                        <form id="mail-subscription" class="form magic send_email_form" method="get" action="ajaxserver/serverfile.php" novalidate="novalidate">
                            <p class="invite">Все, кто хотел бы 
попробовать себя в боксе, следить за фигурой и здоровьем, стремится быть
 в прекрасной физической форме - добро пожаловать!</p>
							<!--<div class="fields clearfix">
								<div class="input">
									<label for="reg-email">Email </label>
									<input id="reg-email" class="email_f"  name="email" type="email" required placeholder="your@email.address" data-validation-type="email"></div>
								
							</div>-->
                            <div class="buttons">
									<button id="submit-email" class="button email_b" name="submit_email"><a target="_blank" onclick="FDPopup.open(134406,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/134406">Записаться</a></button>
								
							</div>
							
                            
                        </form>
                    </div>
                </section>
				
              
                <footer class="p-footer p-scrolldown">
                    <a href="#contact">
                        <div class="arrow-d">
							<div class="before">Расписание</div>
							<div class="after">Прайс</div>
							<div class="circle"><i class="ion ion-mouse"></i></div>
						</div>
                    </a>                        
                </footer>
            </div></div>
            <!-- End of about us page -->
                
			   <!-- Begin of about us page -->
            <div class="section page-about page page-cent fp-section fp-table" id="s-about-us" style="height: 664px;" data-anchor="about-us"><div class="fp-tableCell" style="height:664px;">
                <section class="content">
                    <header class="p-title">
                        <h3>Расписание и прайс<i class="ion ion-android-information">
                            </i>
                        </h3>
						<h4 class="subhead">Укрепить дух, очистить разум</h4>
                    </header>
                    <article class="text">
                        <p>Одна из особенностей клуба — набор 
эксклюзивных программ, специально разработанных для мужчин, женщин и 
детей с разным уровнем подготовки.</p>
                        <form id="mail-subscription" class="form magic send_email_form" method="get" action="ajaxserver/serverfile.php" novalidate="novalidate">
                            
                            <div class="buttons">
									<button id="submit-email" class="button email_b" name="submit_email"><a href="http://skboxing.kz/timetable.html">Посмотреть расписание</a></button>
							</div>
							
                            
                        </form>
						
						<br>
						  <form id="mail-subscription" class="form magic send_email_form" method="get" action="ajaxserver/serverfile.php" novalidate="novalidate">
                            
                            <div class="buttons">
									<button id="submit-email" class="button email_b" name="submit_email"><a href="http://skboxing.kz/price.html">Скачать прайс</a></button>
							</div>
							
                            
                        </form>
					</article>
                </section>
                <footer class="p-footer p-scrolldown">
                    <a href="#contact">
                        <div class="arrow-d">
							<div class="before">Контакты</div>
							<div class="after">Адреса</div>
							<div class="circle"><i class="ion ion-mouse"></i></div>
						</div>
                    </a>                        
                </footer>
            </div></div>
            <!-- End of about us page -->
			
            <!-- Begin of Contact page   -->
            <div class="section page-contact page page-cent  bg-color fp-section" data-bgcolor="rgba(95, 25, 208, 0.88)s" id="s-contact" style="height: 664px;" data-anchor="contact">
				<!-- Begin of contact information -->
				<div class="fp-slides"><div class="fp-slidesContainer" style="width: 200%;"><div class="slide fp-slide fp-table active" id="s-information" data-anchor="information" style="width: 50%;"><div class="fp-tableCell" style="height:664px;">
					<section class="content">
						<header class="p-title">
							<h3>Контакты<i class="ion ion-location">
								</i>
							</h3>
							<ul class="buttons">
								<li class="show-for-medium-up">
									<a title="About" href="#about-us"><i class="ion ion-android-information"></i></a>
								</li>
								<!--<li>
									<a title="Contact" href="#contact/information"><i class="ion ion-location"></i></a>
								</li>-->
								<li>
									<a title="Message" href="#contact/message"><i class="ion ion-email"></i></a>
								</li>
							</ul>
						</header>
						<!-- Begin Of Page SubSction -->
						<div class="contact">
							<div class="row">
								<div class="medium-6 columns left">
									<ul>
										<li>
											<h4>Телефон</h4>
											<p><a href="tel:8 (701) 031 3641">8 (701) 031 3641</a></p>
										</li>
										<li>
											<h4>Адреса наших залов:</h4>
											<p>Маркова 75 - 8 (701) 031 3648
											<br>Каирбекова 35а - 8 (701) 031 3645
											<br>Тимирязева 111а - 8 (701) 031 3644
											
											</p><p style=""><u><a href="https://go.2gis.com/o9l19" target="blank">Посмотреть на карте</a></u></p>
										</li>
										
									</ul>
								</div>
								<div class="medium-6 columns social-links right">
									<ul>

										<!-- legal notice -->
										<li class="show-for-medium-up">
											
											<h4>Email</h4>
											<p><a href="mailto://skboxing@ayalagroup.kz">skboxing@ayalagroup.kz</a></p>
										</li>
										<li class="show-for-medium-up">
											<h4>Мы в соц. сетях:</h4>
											<!-- Begin of Social links -->
											<div class="socialnet">
												<a href="https://www.facebook.com/pg/skboxingalmaty/posts/" target="blank"><i class="ion ion-social-facebook"></i></a>
												<a href="https://www.instagram.com/skboxing_almaty/" target="blank"><i class="ion ion-social-instagram"></i></a>
												<a href="https://www.youtube.com/channel/UCatdeaFPntejvllRDARFu7g?view_as=subscriber" target="blank"><i class="ion ion-social-youtube"></i></a>
												
											</div>
											<!-- End of Social links -->
										</li>
										<li>
											<p><img src="{% static 'index_files/logo.png' %}" alt="Logo" class="logo"></p>
											<p class="small"><strong><a target="blank" href="http://skboxing.kz/pr.html">Правила клуба</a></strong>. Алматы 2019</p>
										</li>
									</ul>

								</div>
							</div>
						</div>
						<!-- End of page SubSection -->
					</section>  
				</div></div><div class="slide fp-slide fp-table" id="s-message" data-anchor="message" style="width: 50%;"><div class="fp-tableCell" style="height:664px;">
					<section class="content">
						<header class="p-title">
							<h3>Напишите нам<i class="ion ion-email">
								</i>
							</h3>
							<ul class="buttons">
								<li class="show-for-medium-up">
									<a title="About" href="#about-us"><i class="ion ion-android-information"></i></a>
								</li>
								<li>
									<a title="Contact" href="#contact/information"><i class="ion ion-location"></i></a>
								</li>
								<!--<li>
									<a title="Message" href="#contact/message"><i class="ion ion-email"></i></a>
								</li>-->
							</ul>
						</header>
						<!-- Begin Of Page SubSction -->
						
						<div class="page-block c-right v-zoomIn">
							<div class="wrapper">
								<div>
									<form class="message form send_message_form" method="get" action="ajaxserver/serverfile.php" novalidate="novalidate">
										<div class="fields clearfix">
											<div class="input">
												<label for="mes-name">Имя </label>
												<input id="mes-name" name="name" type="text" placeholder="Ваше имя" required="" aria-required="true"></div>
											<div class="buttons">
												<button id="submit-message" class="button email_b" name="submit_message">Ok</button>
											</div>
										</div>
										<div class="fields clearfix">
											<div class="input">
												<label for="mes-email">Почта </label>
												<input id="mes-email" type="email" placeholder="Введите свою почту" name="email" required="" aria-required="true">
											</div>
										</div>
										<div class="fields clearfix no-border">
											<label for="mes-text">Сообщение </label>
											<textarea id="mes-text" placeholder="Ваше сообщение ..." name="message" required="" aria-required="true"></textarea>

											<div>
												<p class="message-ok invisible">Ваше сообщение отправлено. Спасибо.</p>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- End Of Page SubSction -->
					</section>
						
				</div></div></div></div><div class="fp-controlArrow fp-prev"></div><div class="fp-controlArrow fp-next"></div>
				<!-- end of contact information -->
				
				<!-- begin of contact message --> 
				
				<!-- End of contact message -->
            </div>
            <!-- End of Contact page  -->   
        
        </main>

        <!-- END OF site main content content here -->  
		
		<!-- Begin of site footer -->
		<footer class="page-footer">
			<div>
				<a href="https://www.facebook.com/skboxingalmaty/" target="_blank"><i class="ion icon ion-social-facebook"></i></a>
				<a href="https://www.instagram.com/skboxing_almaty/" target="_blank"><i class="ion icon ion-social-instagram"></i></a>
				<a href="https://www.youtube.com/channel/UCatdeaFPntejvllRDARFu7g?view_as=subscriber" target="_blank"><i class="ion icon ion-social-youtube"></i></a>
			</div>
		</footer>
		<!-- End of site footer -->

        
<!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
        
        <!-- All Javascript plugins goes here -->
<!--		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->
        <script src="{% static 'index_files/260154375050492.js' %}" async=""></script><script async="" src="{% static 'index_files/fbevents.js' %}"></script><script async="" src="{% static 'index_files/tag.js' %}"></script><script src="{% static 'index_files/jquery-1.js' %}'"></script>
		<!-- All vendor scripts -->
        <script src="{% static 'index_files/all.js' %}"></script>
		
		<!-- Detailed vendor scripts -->
        <!--<script src="./js/vendor/jquery.fullPage.min.js"></script>
        <script src="./js/vendor/jquery.slimscroll.min.js"></script>
        <script src="./js/vendor/jquery.knob.min.js"></script>
        <script src="./js/vegas/vegas.min.js"></script>
        <script src="./js/jquery.maximage.js"></script>
        <script src="./js/okvideo.min.js"></script>-->
		
		<!-- Downcount JS -->
        <script src="{% static 'index_files/jquery.js' %}"></script>
		<script src="{% static 'index_files/modernizr-2.js' %}"></script>
		<!-- Form script -->
        <script src="{% static 'index_files/form_script.js' %}"></script>
        
		<!-- Javascript main files -->
        <script src="{% static 'index_files/main.js' %}"></script>
         
		<script type="text/javascript" src="{% static 'index_files/popup.js' %}"></script>
  		<!-- Yandex.Metrika counter -->
<script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(48501269, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48501269" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

		
		<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '260154375050492');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=260154375050492&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
		
    

<div id="fp-nav" class="right" style="margin-top: -43.5px;"><ul><li><a href="#home" class="active"><span></span></a></li><li><a href="#register"><span></span></a></li><li><a href="#about-us"><span></span></a></li><li><a href="#contact"><span></span></a></li></ul></div><iframe name="ym-native-frame" title="ym-native-frame" style="opacity: 0 !important; width: 0px !important; height: 0px !important; position: absolute !important; left: 100% !important; bottom: 100% !important; border: 0px none !important;" aria-hidden="true" frameborder="0"></iframe><ym-measure class="ym-viewport" style="display: block; inset: 0px; height: 100vh; width: 100vw; position: fixed; transform: translate(0px, -100%); transform-origin: 0px 0px 0px;"></ym-measure><ym-measure class="ym-zoom" style="bottom: 100%; position: fixed; width: 100vw;"></ym-measure></body></html>